<%- include('header.ejs'); %>

<script>
    let response = await fetch('/main.html');
    console.log(response.json());

</script>

<table width="30%;"  style="border:1px solid black;">
    <tr><th>Номер комикса</th><th >Комиксы</th><th >Цена</th></tr>

</table>



<%- include('footer.ejs'); %>